requests==2.32.4
beautifulsoup4==4.13.4
pydantic==2.11.7
python-dotenv==1.1.1
PyYAML==6.0.2
pysrt==1.1.2
numpy==2.2.6
rich==14.1.0
loguru==0.7.3
faster-whisper==1.2.0
opencv-python==4.12.0.88
scenedetect==0.6.6